@model int

<div class="container" style="min-height: calc(100vh - 150px); display: flex; justify-content: center; align-items: center;">
    <div class="col-12 text-center">
        <h1 class="text-success">Your Vacation is Confirmed!</h1>
        <p>Your Order Number is: <strong>@Model</strong></p>
        <p>You can view all order details in the Manage Order section.</p>
        <img src="~/images/orderConfirmed.jpg" style="border-radius:20px;" width="65%" />
        <p class="text-warning pt-3">Pack your bags! You are one step closer to an amazing vacation!</p>
    </div>
</div>
